*.class
.tern-project
.project
src/dao/ConnexionBDD.java
src/old_dao/ConnexionBDD.java
build/*

.classpath
.settings/*
WebContent/WEB-INF/lib/mysql-connector-java-5.0.5-bin.jar
WebContent/WEB-INF/lib/mysql-connector-java-5.1.41-bin.jar
src/hibernate.cfg.xml
