<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/videoGames</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">virgile</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="beans.Cart"/>
		<mapping class="beans.Client"/>
		<mapping class="beans.Console"/>
		<mapping class="beans.Game"/>
		<mapping class="beans.GameType"/>
		<mapping class="beans.LigneCart"/>
		<mapping class="beans.Type"/>

	</session-factory>
</hibernate-configuration>